<h2>Clients list</h2>


<ul class="list">
	<%= @clients.each do |client| %>
		<li>
			<div class="name"><%= link_to client.name, client_url(client) %></div>

			<% if user_signed_in? %>
				<%= link_to 'Edit', edit_client_url(client), :class => 'edit' %>
				<%= link_to 'Delete', client_url(client), :confirm => 'Are you sure ?', :method => :delete, :class => 'del' %>
			<% end %>
		</li>
	<% end %>
</ul>