<h1>Orders list</h1>

<% if user_signed_in? %>
	<p><a href="/orders/new">Create new orders</a></p>
<% end %>

<ul class="list">
	<% @orders.each do |order| %>
		<li>
			<div class="name"><%= link_to order.name, order_url(order) %></div>

			<% if user_signed_in? %>
				<%= link_to 'Edit', edit_order_url(order) %>
				<%= link_to 'Delete order', ingredient_url(order), :confirm => 'Are you sure ?', :method => :delete %> <br />
			<% end %>

			Global price : <%= order.price %>€
		</li>
	<% end %>
</ul>